<div class="main-content">
    <form (ngSubmit)="saveColaborador(f)" #f="ngForm">
        <!--CARD DADOS PESSOAIS-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Dados Pessoais</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.nomeColab" id="nomeColab" name="nomeColab" placeholder="Nome" type="text" required maxlength="20">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.sobrenomeColab" id="sobrenomeColab" name="sobrenomeColab" placeholder="Sobrenome" type="text" required maxlength="80">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.cpfColab" id="cpfColab" name="cpfColab" placeholder="CPF" type="number" required maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyPress="if(this.value.length==11) return false;">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.nomeSocialColab" id="nomeSocialColab" name="nomeSocialColab" placeholder="Nome Social" type="text" required maxlength="100">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Gênero</mat-label>
                                        <mat-select [(ngModel)]="colaborador.generoColab" id="generoColab" name="generoColab" [formControl]="generoColab">
                                            <mat-option name="genFemininoColab" value="Feminino">Feminino</mat-option>
                                            <mat-option name="gemMasculinoColab" value="Masculino">Masculino
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Identidade de Gênero</mat-label>
                                        <mat-select [(ngModel)]="colaborador.identGeneroColab" id="identGeneroColab" name="identGeneroColab" [formControl]="identGeneroColab">
                                            <mat-option name="igTransColab" value="TRANS">Trans</mat-option>
                                            <mat-option name="igCisColab" value="CIS">Cis</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Escolaridade</mat-label>
                                        <mat-select [(ngModel)]="colaborador.escolaridadeColab" id="escolaridadeColab" name="escolaridadeColab" [formControl]="escolaridadeColab">
                                            <mat-option name="analfabetoColab" value="ANALFABETO">Analfabeto</mat-option>
                                            <mat-option name="quartaSerieColab" value="ATE_QUARTA_SERIE">Até Quarta Série</mat-option>
                                            <mat-option name="fundCompColab" value="FUNDAMENTAL_COMPLETO">Fundamento Completo</mat-option>
                                            <mat-option name="medioIncompColab" value="MEDIO_INCOMPLETO">Médio Incompleto</mat-option>
                                            <mat-option name="medicoCompColab" value="MEDIO_COMPLETO">Médio Completo</mat-option>
                                            <mat-option name="supIncompColab" value="SUPERIOR_INCOMPLETO">Superior Incompleto</mat-option>
                                            <mat-option name="supCompColab" value="SUPERIOR_COMPLETO">Superior Incompleto</mat-option>
                                            <mat-option name="posColab" value="POS_GRADUACAO">Pós Graduação</mat-option>
                                            <mat-option name="mestradoColab" value="MESTRADO">Mestrado</mat-option>
                                            <mat-option name="doutoradoColab" value="DOUTORADO">Doutorado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Estado Civil</mat-label>
                                        <mat-select [(ngModel)]="colaborador.estadoCivilColab" id="estadoCivilColab" name="estadoCivilColab" [formControl]="estadoCivilColab">
                                            <mat-option name="solteiroolab" value="SOLTEIRO">Solteiro</mat-option>
                                            <mat-option name="casadoColab" value="CASADO">Casado</mat-option>
                                            <mat-option name="uniaoColab" value="UNIAO_ESTAVEL">União Estável</mat-option>
                                            <mat-option name="viuvoColab" value="VIUVO">Viívo</mat-option>
                                            <mat-option name="divorciadoColab" value="DIVORCIADO">Divorciado</mat-option>
                                            <mat-option name="separadoColab" value="SEPARADO">Separado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="colaborador.dataNascColab" id="dataNascColab" name="dataNascColab" placeholder="Data de Nascimento" type="date" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nacionalidade</mat-label>
                                        <mat-select [(ngModel)]="colaborador.nacionalidadeColab" id="nacionalidadeColab" name="nacionalidadeColab" [formControl]="nacionalidadeColab">
                                            <mat-option name="brasileiraColab" value="Brasileira">Brasileira
                                            </mat-option>
                                            <mat-option name="haitianaColab" value="Haitiana">Haitiana</mat-option>
                                            <mat-option name="argentinaColab" value="Argentina">Argentina</mat-option>
                                            <mat-option name="japonesaColab" value="Japonesa">Japonesa</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Naturalidade</mat-label>
                                        <mat-select [(ngModel)]="colaborador.naturalidadeColab" id="naturalidadeColab" name="naturalidadeColab" [formControl]="naturalidadeColab">
                                            <mat-option name="natuBageColab" value="Bage/RS">Bagé/RS</mat-option>
                                            <mat-option name="natuFloripaColab" value="Florianopolis/SC">
                                                Florianópolis/SC</mat-option>
                                            <mat-option name="natuSPColab" value="Sao Paulo/SP">São Paulo/SP
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.cadColab" id="cadColab" name="cadColab" placeholder="Cadastro" type="number" maxlength="6" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyPress="if(this.value.length==6) return false;">
                                    </mat-form-field>
                                </div>
                            </div>

                            <!--BOTÕES DE INTERAÇÃO-->
                            <button mat-raised-button type="submit" name="btnEnviarColab" class="btn btn-primary pull-right">Salvar</button>
                            <button mat-raised-button type="button" name="btnExcluirColab" class="btn btn-primary pull-right">Excluir</button>
                            <button mat-raised-button type="reset" (click)="cleanForm(f)" name="btnCancelarColab" class="btn btn-primary pull-right">Limpar</button>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CARD DADOS CONTRATUAIS-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Dados Contratuais</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.pisColab" name="pisColab" placeholder="PIS/NIS" type="number" id="pisColab" required maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                            onKeyPress="if(this.value.length==11) return false;">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.ctpsColab" name="ctpsColab" placeholder="CTPS" type="text" id="ctctpsColabps" required maxlength="11">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.dataInicioColab" name="dataInicioColab" placeholder="Data de início de contrato" type="date" id="dataInicioColab" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Se enquadra como PCD?</mat-label>
                                        <mat-select [(ngModel)]="colaborador.ehPcdColab" id="ehPcdColab" name="ehPcdColab" [formControl]="ehPcdColab">
                                            <mat-option name="pcdSimColab" value="true">Sim</mat-option>
                                            <mat-option name="pcdNaoColab" value="false">Não</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.idPostoTrabalho" name="idPostoTrabalho" placeholder="Posto de Trabalho" type="number" id="idPostoTrabalho" required maxlength="6">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Optante Dependente?</mat-label>
                                        <mat-select [(ngModel)]="colaborador.ehOptanteDepColab" id="ehOptanteDepColab" name="ehOptanteDepColab" [formControl]="ehOptanteVAVRColab">
                                            <mat-option name="depSimColab" value="true">Sim</mat-option>
                                            <mat-option name="depNaoColab " value="false ">Não</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Optante VT?</mat-label>
                                        <mat-select [(ngModel)]="colaborador.ehOptanteVTColab" id="ehOptanteVTColab" name="ehOptanteVTColab" [formControl]="ehOptanteVTColab">
                                            <mat-option name="vtSimColab" value="true">Sim</mat-option>
                                            <mat-option name="vtNaoColab" value="false">Não</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Optante VA/VR?</mat-label>
                                        <mat-select [(ngModel)]="colaborador.ehOptanteVAVRColab" id="ehOptanteVAVRColab" name="ehOptanteVAVRColab" [formControl]="ehOptanteVAVRColab">
                                            <mat-option name="vaSimColab" value="true">Sim</mat-option>
                                            <mat-option name="vaNaoColab" value="false">Não</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="clearfix "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CARD CONTATOS-->
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="card ">
                        <div class="card-header card-header-primary ">
                            <h4 class="card-title ">Contatos</h4>
                            <p class="card-category "></p>
                        </div>
                        <div class="card-body ">
                            <div class="row ">
                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="contatos.fonePrincColab" name="fonePrincColab" id="fonePrincColab " placeholder="Telefone Principal " type="number " required maxlength="11 " oninput="this.value=this.value.replace(/[^0-9.]/g, ''); this.value=this.value.replace(/(\..*)\./g,
                                                '$1'); " onKeyPress="if(this.value.length==11) return false; ">
                                    </mat-form-field>

                                </div>
                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="contatos.foneSecColab" name="foneSecColab " id="foneSecColab " placeholder="Telefone Secundário " type="number " required maxlength="11 " oninput="this.value=this.value.replace(/[^0-9.]/g, ''); this.value=this.value.replace(/(\..*)\./g,
                                                '$1'); " onKeyPress="if(this.value.length==11) return false; ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="contatos.foneEmergColab" name="foneEmergColab " id="foneEmergColab " placeholder="Telefone de Emergência " type="number " maxlength="11 " required oninput="this.value=this.value.replace(/[^0-9.]/g, ''); this.value=this.value.replace(/(\..*)\./g,
                                                '$1'); " onKeyPress="if(this.value.length==11) return false; ">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="contatos.emailColab" name="emailColab " id="emailColab " placeholder="E-mail  Pessoal" type="email " required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="colaborador.emailCorpColab" name="emailCorpColab " id="emailCorpColab " placeholder="E-mail Corporativo" type="email " required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="clearfix "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CARD DOCUMENTOS-->
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="card ">
                        <div class="card-header card-header-primary ">
                            <h4 class="card-title ">Documentos</h4>
                            <p class="card-category "></p>
                        </div>
                        <div class="card-body ">
                            <div class="row ">
                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="colaborador.nomeMaeColab" name="nomeMaeColab " id="nomeMaeColab " placeholder="Nome da Mãe " type="text " required maxlength="100 ">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="colaborador.nomePaiColab" name="nomePaiColab " id="nomePaiColab " placeholder="Nome do Pai " type="text " required maxlength="100 ">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="colaborador.tituloColab" name="tituloColab " id="tituloColab " placeholder="Titulo de Eleitor " type="text " required maxlength="12 ">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row ">

                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width ">
                                        <input matInput [(ngModel)]="colaborador.rgColab" id="rgColab " name="rgColab" placeholder="RG " type="text " required maxlength="20 ">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 ">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="colaborador.reservistaColab" name="reservistaColab " id="reservistaColab" placeholder=" Certificado de Reservista | Alistamento " type=" text " maxlength=" 10 ">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class=" clearfix "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CARD EXAME MEDICO-->
        <div class=" container-fluid ">
            <div class=" row ">
                <div class=" col-md-12 ">
                    <div class=" card ">
                        <div class=" card-header card-header-primary ">
                            <h4 class=" card-title ">Exame Médico</h4>
                            <p class=" card-category "></p>
                        </div>
                        <div class=" card-body ">
                            <form>
                                <div class=" row ">

                                    <div class=" col-md-4 ">
                                        <mat-form-field class=" example-full-width ">
                                            <mat-label>Tipo do Exame</mat-label>
                                            <mat-select [(ngModel)]="exameMedico.tipoExameMedico " id=" tipoExameMedico " name=" tipoExameMedico " [formControl]=" exameMedico " required>
                                                <mat-option name=" admissional " value=" ADMISSIONAL ">Admissional </mat-option>
                                                <mat-option name=" demissional " value=" DEMISSIONAL ">Demissional</mat-option>
                                                <mat-option name=" periodico " value=" PERIODICO ">Periódico </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class=" col-md-4 ">
                                        <mat-form-field class=" example-full-width ">
                                            <input matInput [(ngModel)]="exameMedico.dataExameMedico " placeholder=" Data do Exame " type="date " id="dataExameMedico " name=" dataExameMedico " required>
                                        </mat-form-field>
                                    </div>

                                    <div class=" col-md-4 ">
                                        <mat-form-field class=" example-full-width ">
                                            <mat-label>Aptidão</mat-label>
                                            <mat-select [(ngModel)]="exameMedico.aptidao " id=" aptidao " name=" aptidao " [formControl]=" aptidao " required>
                                                <mat-option name=" true " value="true ">Está apto</mat-option>
                                                <mat-option name=" false " value="false ">Não está apto</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class=" clearfix "></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CARD ENDERECO-->
        <div class=" container-fluid ">
            <div class=" row ">
                <div class=" col-md-12 ">
                    <div class=" card ">
                        <div class=" card-header card-header-primary ">
                            <h4 class=" card-title ">Endereço</h4>
                            <p class=" card-category "></p>
                        </div>
                        <div class=" card-body ">
                            <div class=" row ">
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]="endereco.cepColab " name="cepColab " id=" cepColab " placeholder=" CEP " type=" number " required maxlength=" 8 " oninput=" this.value=this.value.replace(/[^0-9.]/g, '' ); this.value=this.value.replace(/(\..*)\./g,
                                            '$1' ); " onKeyPress=" if(this.value.length==8) return false; ">
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]="endereco.logradouroColab " name=" logradouroColab " id=" logradouroColab " placeholder=" Logradouro " type=" text " required>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" endereco.numEndColab " name=" numEndColab " id=" numEndColab " placeholder=" Número " type=" number " required maxlength=" 5 " oninput=" this.value=this.value.replace(/[^0-9.]/g,
                                            '' ); this.value=this.value.replace(/(\..*)\./g, '$1' ); " onKeyPress=" if(this.value.length==5) return false; ">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class=" row ">
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" endereco.complEndColab " name=" complEndColab " id=" complEndColab " placeholder=" Complemento " type=" text " maxlength=" 20 ">
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" endereco.bairroColab " name=" bairroColab " id=" bairroColab " placeholder=" Bairro " type=" text " maxlength=" 20 " required>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" endereco.cidadeColab " name=" cidadeColab " id=" cidadeColab " placeholder=" Cidade " type=" text " maxlength=" 20 " required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class=" row ">
                                <!--Ver conexão com API, caso não possível, alterar para lista-->
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" endereco.estadoEndColab " name=" estadoEndColab " id=" estadoEndColab " placeholder=" Estado " type=" text " maxlength=" 20 " required>
                                    </mat-form-field>
                                </div>

                                <!--Ver conexão com API, caso não possível, alterar para lista-->
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" endereco.paisEndColab " name=" paisEndColab " id=" paisEndColab " placeholder=" País " type=" text " maxlength=" 20 " required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class=" clearfix "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CARD CONTA BANCÁRIA-->
        <div class=" container-fluid ">
            <div class=" row ">
                <div class=" col-md-12 ">
                    <div class=" card ">
                        <div class=" card-header card-header-primary ">
                            <h4 class=" card-title ">Conta Bancária</h4>
                            <p class=" card-category "></p>
                        </div>
                        <div class=" card-body ">
                            <div class=" row ">
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" conta.bancoColab " name=" bancoColab " id=" bancoColab " placeholder=" Banco " type=" text " required maxlength=" 40 ">
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-3 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" conta.agenciaColab " name=" agenciaColab " id=" agenciaColab " placeholder=" Agência " type=" number " required maxlength=" 5 " oninput=" this.value=this.value.replace(/[^0-9.]/g,
                                            '' ); this.value=this.value.replace(/(\..*)\./g, '$1' ); " onKeyPress=" if(this.value.length==5) return false; ">
                                    </mat-form-field>
                                </div>


                                <div class=" col-md-3 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" conta.numContaColab " name=" numContaColab " id=" numContaColab " placeholder=" Número da Conta " type=" number " required maxlength=" 15 " oninput=" this.value=this.value.replace(/[^0-9.]/g,
                                            '' ); this.value=this.value.replace(/(\..*)\./g, '$1' ); " onKeyPress=" if(this.value.length==15) return false; ">
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-2 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" conta.digContaColab " name=" digContaColab " id=" digContaColab " placeholder=" Dígito Verificador " type=" number " required maxlength=" 1 " oninput=" this.value=this.value.replace(/[^0-9.]/g,
                                            '' ); this.value=this.value.replace(/(\..*)\./g, '$1' ); " onKeyPress=" if(this.value.length==1) return false; ">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class=" clearfix "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CARD DEPENDENTE-->
        <div class=" container-fluid ">
            <div class=" row ">
                <div class=" col-md-12 ">
                    <div class=" card ">
                        <div class=" card-header card-header-primary ">
                            <h4 class=" card-title ">Dependentes</h4>
                            <p class=" card-category "></p>
                        </div>
                        <div class=" card-body ">
                            <div class=" row ">
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" dependente.nomeDependente " placeholder=" Nome " type=" text " id=" iDnomeDependente " name=" nomeDependente " required>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" dependente.sobrenomeDependente " placeholder=" Sobrenome " type=" text " id=" iDsobrenomeColaborador " name=" sobrenomeDependente " required>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]=" dependente.dataNascDependente " placeholder=" Data de nascimento " type=" date " id=" iDdataNascDependente " name=" dataNascDependente " required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class=" row ">
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <mat-label>Nacionalidade</mat-label>
                                        <mat-select [(ngModel)]=" dependente.nacionalidade " id=" nacionalidade " name=" nacionalidade " [formControl]=" nacionalidade " required>
                                            <mat-option name=" brasileiro " value=" brasileiro ">Brasileiro</mat-option>
                                            <mat-option name=" chileno " value=" chileno ">Chileno</mat-option>
                                            <mat-option name=" argentino " value=" argentino ">Argentino</mat-option>
                                            <mat-option name=" alemão " value=" alemão ">alemão</mat-option>
                                            <mat-option name=" francês " value=" francês ">Francês</mat-option>
                                            <mat-option name=" italiano " value=" italiano ">Italiano</mat-option>
                                            <mat-option name=" indiano " value=" indiano ">Indiano</mat-option>
                                            <mat-option name=" britânico " value=" britânico ">Britânico</mat-option>
                                            <mat-option name=" boliviano " value=" boliviano ">Boliviano</mat-option>
                                            <mat-option name=" americano " value=" americano ">Americano</mat-option>
                                            <mat-option name=" outro " value=" outro ">Outro</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <mat-label>Se enquada com PCD?</mat-label>
                                        <mat-select [(ngModel)]="dependente.pcd " id=" pcd " name=" pcd " [formControl]=" pcd ">
                                            <mat-option name=" pcdSim " value=" true ">Sim</mat-option>
                                            <mat-option name=" pcdNao " value=" false ">Não</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <mat-label>Gênero</mat-label>
                                        <mat-select [(ngModel)]="dependente.generoDepen " id=" generoDepen " name=" generoDepen " [formControl]=" generoDepen ">
                                            <mat-option name=" genFemininoDepen " value=" Feminino ">Feminino</mat-option>
                                            <mat-option name=" gemMasculinoDepen " value=" Masculino ">Masculino</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class=" row ">
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <mat-label>Identidade de Gênero</mat-label>
                                        <mat-select [(ngModel)]="dependente.identGeneroDepen " id=" identGeneroDepen " name=" identGeneroDepen " [formControl]=" identGeneroDepen ">
                                            <mat-option name=" igTransDepen " value=" TRANS ">Trans</mat-option>
                                            <mat-option name=" igCisDepen " value=" CIS ">Cis</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <input matInput [(ngModel)]="dependente.cpf " placeholder=" CPF " type=" text " id=" idCpf " name=" cpf " required maxlength=" 11 " oninput=" this.value=this.value.replace(/[^0-9.]/g, '' ); this.value=this.value.replace(/(\..*)\./g,
                                            '$1' ); " onKeyPress=" if(this.value.length==11) return false; ">
                                    </mat-form-field>
                                </div>
                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <mat-label>Tipo Dependente</mat-label>
                                        <mat-select [(ngModel)]=" dependente.tipoDependente " id=" tipoDependente " name=" tipoDependente " [formControl]=" tipoDependent ">
                                            <mat-option name=" filhoDepen " value=" FILHO ">Filho(a)</mat-option>
                                            <mat-option name=" conjugeDepen " value=" CONJUGE ">Cônjuge</mat-option>
                                            <mat-option name=" maeDepen " value=" MAE ">Mãe</mat-option>
                                            <mat-option name=" paiDepen " value=" PAI ">Pai</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class=" row ">

                                <div class=" col-md-4 ">
                                    <mat-form-field class=" example-full-width ">
                                        <mat-label>Optante IR</mat-label>
                                        <mat-select [(ngModel)]=" dependente.optanteIR " id=" optanteIR " name=" optanteIR " [formControl]=" optanteIR ">
                                            <mat-option name=" opcaoOptanteSim " value=" true ">Sim</mat-option>
                                            <mat-option name=" opcaoOptanteNao " value=" false ">Não</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!--Botão para mais de um dependente-->
                            <button mat-raised-button type="button " name=" btnCancelarColab " class=" btn btn-primary pull-right ">+</button>
                            <div class=" clearfix "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--Fim da Tela-->
</div>