<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Dados Pessoais</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nome" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Sobrenome" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CPF" type="number" required>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nome social" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Gênero</mat-label>
                                    <mat-select [formControl]="selected" required>
                                      <mat-option value="masculino">Masculino</mat-option>
                                      <mat-option value="feminino">Feminino</mat-option>
                                      <mat-option value="outros">Outros</mat-option>
                                    </mat-select>
                                </mat-form-field>
                              </div>
                          
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Identidade de Gênero</mat-label>
                                    <mat-select [formControl]="selected" required>
                                      <mat-option value="cis">CIS</mat-option>
                                      <mat-option value="trans">TRANS</mat-option>
                                    </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Data de Nascimento" type="date" required>
                                </mat-form-field>
                              </div>
                      
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nacionalidade" type="text" required>
                                </mat-form-field>
                              </div>
                              
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Naturalidade" type="text" required>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
            
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="RG" type="text" required>
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-primary pull-right">Avançar</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
    
      </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Dados da Empresa</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nome" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Sobrenome" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="CPF" type="number" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nome social" type="text">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Gênero</mat-label>
                                  <mat-select [formControl]="selected" required>
                                    <mat-option value="masculino">Masculino</mat-option>
                                    <mat-option value="feminino">Feminino</mat-option>
                                    <mat-option value="outros">Outros</mat-option>
                                  </mat-select>
                              </mat-form-field>
                            </div>
                        
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Identidade de Gênero</mat-label>
                                  <mat-select [formControl]="selected" required>
                                    <mat-option value="cis">CIS</mat-option>
                                    <mat-option value="trans">TRANS</mat-option>
                                  </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Data de Nascimento" type="date" required>
                              </mat-form-field>
                            </div>
                    
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nacionalidade" type="text" required>
                              </mat-form-field>
                            </div>
                            
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Naturalidade" type="text" required>
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
          
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="RG" type="text" required>
                              </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-primary pull-right">Avançar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
  
    </div>
</div>
</div>
