<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Prestador de Serviço</title>
</head>
<body>
    <h1>Cadastro de Prestador de Serviço</h1>

    <section id="dadosPessoais">
        <h2>Dados Pessoais</h2>
        <form action="">
            <input type="text" placeholder="Nome">
            <br>
            <input type="text" placeholder="Sobrenome">
            <br>
            <input type="text" placeholder="CPF">
            <br>
            <input type="text" placeholder="Nome Social">
            <br>
            <input type="text" placeholder="Gênero">
            <br>
            <legend>Identidade de Gênero</legend>
            <input type="radio" name="identGenero">
            <label>Trans</label>
            <input type="radio" name="identGenero">
            <label>Cis</label>
            <br>

        </form>

    </section>

    <section id="dadosEmpresa">
        <h2>Dados da Empresa</h2>


    </section>

    <section id="contatos">
        <h2>Contatos</h2>


    </section>

    <section id="botoes">
        <br>
        <input type="text" placeholder="Cadastro">
        <br>
        <input type="reset" value="Cancelar"> 
        <br>
        <input type="button" value="Enviar Dados">
    </section>

    
</body>
</html>